<section>
	<div id="pagcontacto" class="container">
	  <div class="row">
	    <div id="forming" class="col-sm-8">
	      <h1>Contact Us</h1>
	      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	      tempor incididunt ut labore et dolore magna aliqua.</p>

	      <form action="http://formspree.io/nallenanderson@gmail.com" method="POST">
	        <div class="row">
	          <div class="form-group col-xs-6">
	            <label for="nombre">NOMBRE:</label>
	            <input type="text" required placeholder="Me llamo..." name="nombre" id="nombre" class="formmer"/>
	          </div>
	          <div class="form-group col-xs-6">
	            <label for="nombre">EMAIL:</label>
	            <input type="email" required placeholder="juan@garcia.com" id="email" class="formmer" name="_replyto" />
	          </div>
	        </div>
	        <div class="form-group">
	          <label for="mensaje">MENSAJE:</label>
	          <textarea placeholder="Escribe tu mensaje aquí..." id="mensaje" name="mensaje" class="formmer" rows="4"></textarea>
	        </div>
	        <input type="hidden" name="_subject" value="Formulario de Contacto de tu Página" />
	        <input type="text" name="_gotcha" style="display:none" />
	        <input type="hidden" name="_next" value="http://www.nallenanderson.com" />
	        <button type="submit" value="Send" class="button jumpr pull-right">SUBIR</button>
	      </form>
	      
	    </div>
	    <div id="contacto" class="col-sm-4">
	      <h4>EMAIL</h4>
	      <p>nate@devocode.com</p>
	      <h4>TELEPHONE</h4>
	      <p>+569-7891-0267</p>
	      <h4>SKYPE</h4>
	      <p>nate.modyo</p>
	      <h4>DIRECCIÓN</h4>
	      <ul class="list-unstyled">
	        <li>Hamlet 4000, Of. 705</li>
	        <li>Las Condes, Santiago de Chile</li>
	        <li>7550019</li>
	      </ul>
	      <div class="iconos">
	        <i class="fa fa-twitter fa-2x fa-border"></i>
	        <i class="fa fa-github fa-2x fa-border"></i>
	        <i class="fa fa-skype fa-2x fa-border"></i>
	      </div>
	    </div>
	  </div>
	</div>
</section>

