<section id="topsec">
	<div class="container">
		<h1 class="text-center">Rails Innerworkings</h1>
		<div class="row">
			<div class="col-sm-7">
				<div class="explain views">
					<h2>Views</h2>
					<p>The visual representation of your app.</p>
				</div>
				<div class="explain routes">
					<h2>Routes</h2>
					<p>The visual representation of your app.</p>
				</div>
				<div class="explain models">
					<h2>Models</h2>
					<p>The visual representation of your app.</p>
				</div>
				<div class="explain controllers">
					<h2>Controllers</h2>
					<p>The visual representation of your app.</p>
				</div>
			</div>

			<div class="col-sm-5">
				<div class="browser">
					<h2>Browser</h2>
					<p>The visual representation of your app.</p>
				</div>
			</div>
		</div>
	</div>
</section>