
<!-- HEADER -->
<section id="intro">
 <div id="vidback">
  <video id="video_background" src="https://d2p52n04yb9sso.cloudfront.net/uploads/429ec4d0e53b11e49428b1e64c319c56/mp4/natesepia.mp4" autoplay loop>
 </div>
  <div class="overlay"></div>
   <div class="intro-body">
      <div class="text-center">
        <p class="intro-text">Santiago-based web development.</p>
      </div>
   </div> 
 </div>
</section>

<!-- ABOUT -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
          <h2 class="text-center">Nathan Allen</h2>
          <p>Hace unos años estuve trabajando como contador público.  Análisis económico, auditoría, corbatas, blah, blah, blah. Era joven, tenía una buena educación y trabajaba en una de las mejores empresas del mundo. Sin embargo, no estuve feliz con mi carrera y quería un cambio radical.</p>
          <p>Metí todas mis pertenencias importantes en dos maletas y subí a un avión de Seattle, Washington a Santiago de Chile. Empecé a trabajar con una empresa de desarrollo web muy genial llamada <a href="http://www.modyo.com">Modyo</a>. Allí me enamoré con desarrollo y diseño web.</p>
          <p>Nunca se sabe donde la vida te va a llevar. Esto ha sido lo lindo y lo divertido de mi experiencia. Estoy feliz aprendiendo cosas nuevas cada día y por fin estoy haciendo algo que me encanta.</p>
        </div>
    </div>
  </div>
</section>

<!-- ABOUT -->
<section id="projects" class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Mis Proyectos</h2>
        <p>En lo que he estado últimamente.</p>
        <%= link_to "devoCode", "http://www.devocode.com", target: "_blank", class: "button-o" %>
        <%= link_to "iTeam", explainrails_path, class: "button-o" %>
        <%= link_to "clasiCode", "http://www.classicode.com", target: "_blank", class: "button-o" %>
      </div>
    </div>
  </div>
</section>

    <!-- CONTACT -->
<section id="contact" class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
          <h2>Contacto</h2>
          <p>Mándame un mensaje para dar feedback o sugerencias, hablar de tus proyectos y necesidades o simplemente saludarme.  ¡Gracias!</p>

          <ul class="list-inline banner-social-buttons">
            <li>
                <a href="https://twitter.com/nallenanderson" class="btn-outline twit" target="_blank"><i class="fa fa-fw fa-twitter"></i></a>
            </li>
            <li>
                <a href="https://github.com/nallenanderson" class="btn-outline git" target="_blank"><i class="fa fa-fw fa-github-alt"></i></a>
            </li>
            <li>
                <a href="https://www.linkedin.com/profile/view?id=76540537&trk=spm_pic" class="btn-outline linked" target="_blank"><i class="fa fa-fw fa-linkedin"></i></a>
            </li>
            <li>
                <a href="mailto:nallenanderson@gmail.com" class="btn-outline mail" target="_blank"><i class="fa fa-fw fa-envelope"></i></a>
            </li>
          </ul>
        </div>
      </div>
  </div> 
</section>

<!-- ADD MAP -->  
<div id="map-canvas"></div>   
