
<!-- HEADER -->
<section id="intro">
 <div id="vidback">
  <video id="video_background" src="https://d2p52n04yb9sso.cloudfront.net/uploads/429ec4d0e53b11e49428b1e64c319c56/mp4/natesepia.mp4" autoplay loop>
 </div>
  <div class="overlay"></div>
   <div class="intro-body">
      <div class="text-center">
        <p class="intro-text">Santiago-based web development.</p>
      </div>
   </div> 
 </div>
</section>

<!-- ABOUT -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
          <h2 class="text-center">About Me</h2>
          <p> A few years ago I was working as a CPA. Financial analysis, auditing, spreadsheets, blah, blah, blah.  I was young, had a master's degree, and worked in one of the most prestigious firms in the world.  However, I wasn't happy with my career and wanted a change.</p>
          <p>You never know where the world is going to take you.  That's the fun part about life.</p>
          <p>I packed up my bags and moved from Seattle, Washington to Santiago, Chile. I began working with a really cool software company called <a href="http://www.modyo.com">Modyo</a>, where I fell in love with web development and design.</p>
        </div>
    </div>
  </div>
</section>

<!-- ABOUT -->
<section id="projects" class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>My Projects</h2>
        <p> Here's what I've been working on recently.</p>
        <%= link_to "devoCode", "http://www.devocode.com", target: "_blank", class: "button-o" %>
        <%= link_to "iTeam", explainrails_path, class: "button-o" %>
        <%= link_to "clasiCode", "http://www.classicode.com", target: "_blank", class: "button-o" %>
      </div>
    </div>
  </div>
</section>

    <!-- CONTACT -->
<section id="contact" class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
          <h2>Contact Info</h2>
          <p>Email me to give feedback or suggestions, talk about your projects you are working on, or just say hi.</p>

          <ul class="list-inline banner-social-buttons">
            <li>
                <a href="https://twitter.com/nallenanderson" class="btn-outline twit" target="_blank"><i class="fa fa-fw fa-twitter"></i></a>
            </li>
            <li>
                <a href="https://github.com/nallenanderson" class="btn-outline git" target="_blank"><i class="fa fa-fw fa-github-alt"></i></a>
            </li>
            <li>
                <a href="https://www.linkedin.com/profile/view?id=76540537&trk=spm_pic" class="btn-outline linked" target="_blank"><i class="fa fa-fw fa-linkedin"></i></a>
            </li>
            <li>
                <a href="mailto:nallenanderson@gmail.com" class="btn-outline mail" target="_blank"><i class="fa fa-fw fa-envelope"></i></a>
            </li>
          </ul>
        </div>
      </div>
  </div> 
</section>

<!-- ADD MAP -->  
<div id="map-canvas"></div>   
