@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: #fcfcfc;
    background-color: #ecf0f1;
}

html {
    width: 100%;
    height: 100%;
}

button {
    padding: 1em;
    border: 2px solid #fcfcfc;
    background: none;
    border-radius: 5px;
    font-size: 1.5em;
    &:hover {
        background: #45b29d;
        border: 2px solid darken(#45b29d, 25%);
        color: #fcfcfc;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

@media(min-width:767px) {
  p {
    margin: 0 0 35px;
    font-size: 18px;
    line-height: 1.6;
  }
}

a {
  color: #3498db;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  &:hover, &:focus {
  	text-decoration: none;
  	color: #8e44ad;
  }
}

.light {
    font-weight: 400;
}

.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255,255,255,.3);
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  background: #1B7B98;
  .navbar-brand {
    font-weight: 700;
    &:focus {
			outline: 0;
		}
		.navbar-toggle {
	    padding: 4px 6px;
	    font-size: 16px;
	    color: #fff;
	    &:focus, &:active {
	    	outline: 0;
	    }
		}
	} 

}

.navbar-toggle:hover {
    border: 1px solid #fff;
}

.navbar-custom a {
  color: #fff;
  .nav li {
  	&.active {
	    outline: nonte;
	    background-color: rgba(255,255,255,.3);
	}
	a {
		-webkit-transition: background .3s ease-in-out;
   	    -moz-transition: background .3s ease-in-out;
    	transition: background .3s ease-in-out;
    	&:hover {
		outline: 0;
		background-color: rgba(0,0,0,.3);
	}
  }
}
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: #1B7B98;
    }

    .navbar-custom.top-nav-collapse {
        border: none;
    }
}

#intro {
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

@media(min-width:767px) {
    #intro {
        height: 100%;
        padding: 0;
        .intro-body {
            .brand-heading {
                font-size: 100px;
            }
            .intro-text {
                font-size: 25px;
            }
        }
    }
}

#about {
    background: linear-gradient(rgba(#f7ab24, 0.75), rgba(#f7ab24, 0.72)), image-url("paisley.png") repeat;
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 35px;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

.btn-outline {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin-top: 15px;
    border-radius: 100%;
    text-align: center; 
    line-height: 2.2em;
    font-size: 30px;
    color: #fcfcfc;
    transition: all .3s ease-in-out;
    &.twit {
        background: #45b29d;
        border: solid 2px darken(#6ac1b1, 15%);
        &:hover, &:active, &:focus {
            color: #313131;
        }
    }
    &.git {
        background: #efc94c;
        border: solid 2px darken(#f2d470, 15%);
    }
    &.linked {
        background: #e27a3f;
        border: solid 2px darken(#e89565, 15%);
    }
    &.mail {
        background: #1B7B98;
        border: solid 2px darken(#1B7B98, 15%);
    }
}

a .btn-outline:hover {
    color: #8e44ad;
}

@-webkit-keyframes pulse {    
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.content-section {
    padding-top: 70px;
    padding-bottom: 70px;
}

.download-section {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    background: url(../img/leaves.jpg) no-repeat center center scroll;
    background-color: #ecf0f1;  /*#000;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#projects {
    background: linear-gradient(rgba(#33888F, 0.75), rgba(#33888F, 0.99)), image-url("paisley.png") repeat; 
    color: #fcfcfc;
}

#contact {
    background: linear-gradient(rgba(#C34C39, 0.75), rgba(#C34C39, 0.99)), image-url("paisley.png") repeat;
    color: #ecf0f1;
    width: 100%;
    padding-bottom: 150px;
}

#contact a{
    color: #ecf0f1;
}

#contact a:hover{
    color: #313131;
}

#map-canvas {
    width: 100%;
    height: 200px;
}

@media(min-width:767px) {
    .content-section {
        padding-top: 150px;
    }

    .download-section {
        padding: 100px 0;
    }

    #map-canvas {
        height: 400px;
    }
}

.fa-bars {
    color: #fff!important;
}

.btn {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid #34495e;
    color: #fff;
    background-color: #34495e;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #3498db;
    outline: 0;
    color: #fff;
    background-color: #3498db;
}

ul.banner-social-buttons {
    margin-top: 0;
}

.banner-social-buttons li {
    padding: 0 10px;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons li {
        display: inline-block;
        margin-bottom: 15px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }

}

footer {
    background: linear-gradient(rgba(#313131, 0.70), rgba(#111, 0.99)), image-url("paisley.png") repeat; ;
    color: #fff;
    padding: 30px 0;
    text-align: right;
    p {
	    margin: 0;
	    font-size: 16px;
	    line-height: 1;
	    text-align: right
	}
}

#footer .lead {
    font-size: 12px;
}

.little {
    font-size: 11px;
}

@media(max-width:567px) {
    footer p {
        text-align: center;
    }
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}

#video_background {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1000;
}

@media (max-width: 767px) {
    #intro {
        background: image-url("sunsetstgo.jpg") no-repeat top center scroll;
        background-size: cover;
        #vidback {
            display: none;
        }
    }
}

.intro-body {
    z-index: 1;
    padding-top: 15%;
    color: #59ABE3;
    width: 100%;
}

.nav > li > a:hover, .nav > li > a:focus {
    background: none;
    color: #59ABE3;
}
.nav > li > a:focus {
    color: #ecf0f1;
}