<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You've received a new message</h1>
    <h3>Name: </h3>
      
    <p><%= @lead.name %></p>
    
    <h3>Email: </h3>
      
    <p><%= @lead.email %></p>

    <h3>Message: </h3>
    <p><%= @lead.notes %></p>
  </body>
</html>